.list{
  height: 200px;
  overflow-y: inherit;
}
.logo a {
  display: inline-block; }
  .logo a img {
    max-width: 80%; }

body{
  background: white;
}

.single-job {
  border-radius: 10px;
  box-shadow: 0px 8px 8px -6px rgba(0,0,0,.5);
}
