{% extends 'base.html' %}
{% load static %}
{% block body_block %}
        <!-- Breadcrumb Section Start -->
        <div class="breadcrumb-section section bg_color--5 pt-60 pt-sm-50 pt-xs-40 pb-60 pb-sm-50 pb-xs-40">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="page-breadcrumb-content">
                            <ul class="page-breadcrumb">
                                <li><a href="index.html">Home</a></li>
                                <li>Blog</li>
                            </ul>
                            <h1>Blog</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Breadcrumb Section Start -->

        <!-- Blog Section Start -->
        <div class="blog-section section bg_color--5 pb-120 pb-lg-100 pb-md-80 pb-sm-60 pb-xs-50">
            <div class="container">
                <div class="row no-gutters">

                    <div class="col-lg-8">
                        <div class="blog-wrapper">
                            <div class="row">

                                <div class="col-12">
                                    <!-- Single Blog Start -->
                                    <div class="single-blog-post mb-90 mb-xs-50">
                                        <div class="blog-image">
                                            <a href="blog-details.html">
                                                <img src="https://demo.hasthemes.com/jetapo-preview/jetapo/assets/images/blog/blog4.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="blog-content">
                                            <ul class="post-meta">
                                                <li><span class="feature-post">Sticky post </span></li>
                                                <li><i class="lnr lnr-user"></i><a href="#">Hien Tran</a></li>
                                                <li><i class="lnr lnr-file-add"></i><a href="#">Job Skills</a></li>
                                                <li><i class="lnr lnr-clock"></i><a href="#"> Sep 25, 2019</a></li>
                                            </ul>
                                            <h4 class="title">
                                                <a href="blog-details.html">10 Best Facebook Pages of All Time About Freelancer</a>
                                            </h4>
                                            <p class="blog-desc">
                                                The news comes just after "full stack software developer" was named the fastest-growing job of 2018 in a data analysis conducted by another site and LinkedIn's annual Emerging Jobs report said blockchain developer is the top sought-after position among all occupations in what is becoming an increasingly familiar pattern.
                                            </p>
                                            <a href="blog-details.html" class="ht-btn theme-btn theme-btn-two">View more <i class="lnr lnr-chevron-right"></i></a>
                                        </div>
                                    </div>
                                    <!-- Single Blog End -->
                                </div>

                                <div class="col-12">
                                    <!-- Single Blog Start -->
                                    <div class="single-blog-post mb-90 mb-xs-50">
                                        <div class="blog-image blog-gallery-slider">
                                            <a href="blog-details.html">
                                                <img src="https://demo.hasthemes.com/jetapo-preview/jetapo/assets/images/blog/blog8.jpg" alt="">
                                            </a>
                                            <a href="blog-details.html">
                                                <img src="https://demo.hasthemes.com/jetapo-preview/jetapo/assets/images/blog/blog5.jpg" alt="">
                                            </a>
                                            <a href="blog-details.html">
                                                <img src="https://demo.hasthemes.com/jetapo-preview/jetapo/assets/images/blog/blog6.jpg" alt="">
                                            </a>
                                            <a href="blog-details.html">
                                                <img src="https://demo.hasthemes.com/jetapo-preview/jetapo/assets/images/blog/blog7.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="blog-content">
                                            <ul class="post-meta">
                                                <li><i class="lnr lnr-user"></i><a href="#">Hien Tran</a></li>
                                                <li><i class="lnr lnr-file-add"></i><a href="#">Job Skills</a></li>
                                                <li><i class="lnr lnr-clock"></i><a href="#">Oct 24, 2019</a></li>
                                            </ul>
                                            <h4 class="title">
                                                <a href="blog-details.html">The Reason Why Software Developer Repeats As ‘Best Job’</a>
                                            </h4>
                                            <p class="blog-desc">
                                                The news comes just after "full stack software developer" was named the fastest-growing job of 2018 in a data analysis conducted by another site and LinkedIn's annual Emerging Jobs report said blockchain developer is the top sought-after position among all occupations in what is becoming an increasingly familiar pattern.
                                            </p>
                                            <a href="blog-details.html" class="ht-btn theme-btn theme-btn-two">View more <i class="lnr lnr-chevron-right"></i></a>
                                        </div>
                                    </div>
                                    <!-- Single Blog End -->
                                </div>

                                <div class="col-12">
                                    <!-- Single Blog Start -->
                                    <div class="single-blog-post mb-90 mb-xs-50">
                                        <div class="blog-image">
                                            <a href="blog-details.html">
                                                <img src="https://demo.hasthemes.com/jetapo-preview/jetapo/assets/images/blog/blog9.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="blog-content">
                                            <ul class="post-meta">
                                                <li><i class="lnr lnr-user"></i><a href="#">Hien Tran</a></li>
                                                <li><i class="lnr lnr-file-add"></i><a href="#">News & Update</a></li>
                                                <li><i class="lnr lnr-clock"></i><a href="#"> Oct 24, 2019</a></li>
                                            </ul>
                                            <h4 class="title">
                                                <a href="blog-details.html">7 Answers to the Most Frequently Asked Questions About Job</a>
                                            </h4>
                                            <p class="blog-desc">
                                                The news comes just after "full stack software developer" was named the fastest-growing job of 2018 in a data analysis conducted by another site and LinkedIn's annual Emerging Jobs report said blockchain developer is the top sought-after position among all occupations in what is becoming an increasingly familiar pattern.
                                            </p>
                                            <a href="blog-details.html" class="ht-btn theme-btn theme-btn-two">View more <i class="lnr lnr-chevron-right"></i></a>
                                        </div>
                                    </div>
                                    <!-- Single Blog End -->
                                </div>

                                <div class="col-12">
                                    <!-- Single Blog Start -->
                                    <div class="single-blog-post mb-90 mb-xs-50">
                                        <div class="blog-image">
                                            <a href="blog-details.html">
                                                <img src="https://demo.hasthemes.com/jetapo-preview/jetapo/assets/images/blog/blog4.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="blog-content">
                                            <ul class="post-meta">
                                                <li><i class="lnr lnr-user"></i><a href="#">Hien Tran</a></li>
                                                <li><i class="lnr lnr-file-add"></i><a href="#">Job Skills</a></li>
                                                <li><i class="lnr lnr-clock"></i><a href="#"> Sep 25, 2019</a></li>
                                            </ul>
                                            <h4 class="title">
                                                <a href="blog-details.html">10 Best Facebook Pages of All Time About Freelancer</a>
                                            </h4>
                                            <p class="blog-desc">
                                                The news comes just after "full stack software developer" was named the fastest-growing job of 2018 in a data analysis conducted by another site and LinkedIn's annual Emerging Jobs report said blockchain developer is the top sought-after position among all occupations in what is becoming an increasingly familiar pattern.
                                            </p>
                                            <a href="blog-details.html" class="ht-btn theme-btn theme-btn-two">View more <i class="lnr lnr-chevron-right"></i></a>
                                        </div>
                                    </div>
                                    <!-- Single Blog End -->
                                </div>

                                <div class="col-12">
                                    <!-- Single Blog Start -->
                                    <div class="single-blog-post mb-90 mb-xs-50">
                                        <div class="blog-image">
                                            <a href="blog-details.html">
                                                <img src="https://demo.hasthemes.com/jetapo-preview/jetapo/assets/images/blog/blog3.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="blog-content">
                                            <ul class="post-meta">
                                                <li><i class="lnr lnr-user"></i><a href="#">Hien Tran</a></li>
                                                <li><i class="lnr lnr-file-add"></i><a href="#">Job Skills</a></li>
                                                <li><i class="lnr lnr-clock"></i><a href="#"> Sep 25, 2019</a></li>
                                            </ul>
                                            <h4 class="title">
                                                <a href="blog-details.html">The Question Everyone Working in Job Should Know to Answer</a>
                                            </h4>
                                            <p class="blog-desc">
                                                The news comes just after "full stack software developer" was named the fastest-growing job of 2018 in a data analysis conducted by another site and LinkedIn's annual Emerging Jobs report said blockchain developer is the top sought-after position among all occupations in what is becoming an increasingly familiar pattern.
                                            </p>
                                            <a href="blog-details.html" class="ht-btn theme-btn theme-btn-two">View more <i class="lnr lnr-chevron-right"></i></a>
                                        </div>
                                    </div>
                                    <!-- Single Blog End -->
                                </div>

                                <div class="col-12">
                                    <!-- Single Blog Start -->
                                    <div class="single-blog-post mb-90 mb-xs-50">
                                        <div class="blog-image">
                                            <a href="blog-details.html">
                                                <img src="https://demo.hasthemes.com/jetapo-preview/jetapo/assets/images/blog/blog2.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="blog-content">
                                            <ul class="post-meta">
                                                <li><i class="lnr lnr-user"></i><a href="#">Hien Tran</a></li>
                                                <li><i class="lnr lnr-file-add"></i><a href="#">Job Skills</a></li>
                                                <li><i class="lnr lnr-clock"></i><a href="#"> Sep 25, 2019</a></li>
                                            </ul>
                                            <h4 class="title">
                                                <a href="blog-details.html">Miley Cyrus and Job: 10 Surprising Things They Have in Common</a>
                                            </h4>
                                            <p class="blog-desc">
                                                The news comes just after "full stack software developer" was named the fastest-growing job of 2018 in a data analysis conducted by another site and LinkedIn's annual Emerging Jobs report said blockchain developer is the top sought-after position among all occupations in what is becoming an increasingly familiar pattern.
                                            </p>
                                            <a href="blog-details.html" class="ht-btn theme-btn theme-btn-two">View more <i class="lnr lnr-chevron-right"></i></a>
                                        </div>
                                    </div>
                                    <!-- Single Blog End -->
                                </div>

                                <div class="col-12">
                                    <!-- Single Blog Start -->
                                    <div class="single-blog-post mb-90 mb-xs-50">
                                        <div class="blog-image">
                                            <a href="blog-details.html">
                                                <img src="https://demo.hasthemes.com/jetapo-preview/jetapo/assets/images/blog/blog1.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="blog-content">
                                            <ul class="post-meta">
                                                <li><i class="lnr lnr-user"></i><a href="#">Hien Tran</a></li>
                                                <li><i class="lnr lnr-file-add"></i><a href="#">Job Skills</a></li>
                                                <li><i class="lnr lnr-clock"></i><a href="#"> Sep 25, 2019</a></li>
                                            </ul>
                                            <h4 class="title">
                                                <a href="blog-details.html">What Hollywood Can Teach Us About Job</a>
                                            </h4>
                                            <p class="blog-desc">
                                                The news comes just after "full stack software developer" was named the fastest-growing job of 2018 in a data analysis conducted by another site and LinkedIn's annual Emerging Jobs report said blockchain developer is the top sought-after position among all occupations in what is becoming an increasingly familiar pattern.
                                            </p>
                                            <a href="blog-details.html" class="ht-btn theme-btn theme-btn-two">View more <i class="lnr lnr-chevron-right"></i></a>
                                        </div>
                                    </div>
                                    <!-- Single Blog End -->
                                </div>

                                <div class="col-12">
                                    <!-- Single Blog Start -->
                                    <div class="single-blog-post mb-90 mb-xs-50">
                                        <div class="blog-image">
                                            <a href="blog-details.html">
                                                <img src="https://demo.hasthemes.com/jetapo-preview/jetapo/assets/images/blog/blog10.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="blog-content">
                                            <ul class="post-meta">
                                                <li><i class="lnr lnr-user"></i><a href="#">Hien Tran</a></li>
                                                <li><i class="lnr lnr-file-add"></i><a href="#">Job Skills</a></li>
                                                <li><i class="lnr lnr-clock"></i><a href="#"> Sep 25, 2019</a></li>
                                            </ul>
                                            <h4 class="title">
                                                <a href="blog-details.html">15 Secretly Funny People Working in Job</a>
                                            </h4>
                                            <p class="blog-desc">
                                                The news comes just after "full stack software developer" was named the fastest-growing job of 2018 in a data analysis conducted by another site and LinkedIn's annual Emerging Jobs report said blockchain developer is the top sought-after position among all occupations in what is becoming an increasingly familiar pattern.
                                            </p>
                                            <a href="blog-details.html" class="ht-btn theme-btn theme-btn-two">View more <i class="lnr lnr-chevron-right"></i></a>
                                        </div>
                                    </div>
                                    <!-- Single Blog End -->
                                </div>

                                <div class="col-12">
                                    <!-- Single Blog Start -->
                                    <div class="single-blog-post">
                                        <div class="blog-image">
                                            <a href="blog-details.html">
                                                <img src="https://demo.hasthemes.com/jetapo-preview/jetapo/assets/images/blog/blog6.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="blog-content">
                                            <ul class="post-meta">
                                                <li><i class="lnr lnr-user"></i><a href="#">Hien Tran</a></li>
                                                <li><i class="lnr lnr-file-add"></i><a href="#">Job Skills</a></li>
                                                <li><i class="lnr lnr-clock"></i><a href="#"> Sep 25, 2019</a></li>
                                            </ul>
                                            <h4 class="title">
                                                <a href="blog-details.html">All the Stats, Facts, and Data You’ll Ever Need to Know</a>
                                            </h4>
                                            <p class="blog-desc">
                                                The news comes just after "full stack software developer" was named the fastest-growing job of 2018 in a data analysis conducted by another site and LinkedIn's annual Emerging Jobs report said blockchain developer is the top sought-after position among all occupations in what is becoming an increasingly familiar pattern.
                                            </p>
                                            <a href="blog-details.html" class="ht-btn theme-btn theme-btn-two">View more <i class="lnr lnr-chevron-right"></i></a>
                                        </div>
                                    </div>
                                    <!-- Single Blog End -->
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4" id="sticky-sidebar">
                        <div class="sidebar-wrapper">
                            <div class="common-sidebar-widget">
                                <div class="sidebar-search-form">
                                    <form action="#">
                                        <input type="text" name="search" placeholder="Search...">
                                        <button type="submit" class="ht-btn search-btn"><i class="fa fa-search"></i></button>
                                    </form>
                                </div>
                            </div>
                            <div class="common-sidebar-widget">
                                <h2 class="sidebar-title">Categories</h2>
                                <ul class="sidebar-list">
                                    <li><a href="#">Career Advice (2)</a></li>
                                    <li><a href="#">Job Skills (4)</a></li>
                                    <li><a href="#">News & Update (3)</a></li>
                                </ul>
                            </div>
                            <div class="common-sidebar-widget">
                                <h2 class="sidebar-title">Recent Post</h2>
                                <div class="sidebar-blog pt-0">
                                    <a href="blog-details.html" class="image"><img src="https://demo.hasthemes.com/jetapo-preview/jetapo/assets/images/rc-post/rc1.jpg" alt=""></a>
                                    <div class="content">
                                        <span>Oct 24, 2019</span>
                                        <h5><a href="blog-details.html">The Reason Why Software Developer Repeats As ‘Best Job’</a></h5>
                                    </div>
                                </div>
                                <div class="sidebar-blog">
                                    <a href="blog-details.html" class="image"><img src="https://demo.hasthemes.com/jetapo-preview/jetapo/assets/images/rc-post/rc2.jpg" alt=""></a>
                                    <div class="content">
                                        <span>Oct 24, 2019</span>
                                        <h5><a href="blog-details.html">7 Answers to the Most Frequently Asked Questions About Job</a></h5>
                                    </div>
                                </div>
                                <div class="sidebar-blog">
                                    <a href="blog-details.html" class="image"><img src="https://demo.hasthemes.com/jetapo-preview/jetapo/assets/images/rc-post/rc1.jpg" alt=""></a>
                                    <div class="content">
                                        <span>Oct 24, 2019</span>
                                        <h5><a href="blog-details.html">The Question Everyone Working in Job Should Know to Answer</a></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="common-sidebar-widget">
                                <h2 class="sidebar-title">Tags</h2>
                                <ul class="sidebar-tag">
                                    <li><a href="#">Branding (9)</a></li>
                                    <li><a href="#">Consulting (9)</a></li>
                                    <li><a href="#">Contruction (9)</a></li>
                                    <li><a href="#">Manage (9)</a></li>
                                    <li><a href="#">Marketing (9)</a></li>
                                </ul>
                            </div>
                            <div class="common-sidebar-widget">
                                <h2 class="sidebar-title">Archives</h2>
                                <ul class="sidebar-list">
                                    <li><a href="#">October 2019</a></li>
                                    <li><a href="#">September 2019</a></li>
                                    <li><a href="#">August 2019</a></li>
                                </ul>
                            </div>
                            <div class="common-sidebar-widget">
                                <h2 class="sidebar-title">Meta</h2>
                                <ul class="sidebar-list">
                                    <li><a href="#">Log in</a></li>
                                    <li><a href="#">Entries feed</a></li>
                                    <li><a href="#">Comments feed</a></li>
                                    <li><a href="#">WordPress.org</a></li>
                                </ul>
                            </div>
                            <div class="common-sidebar-widget">
                                <div class="sidbar-image">
                                    <a href="#">
                                        <img src="https://demo.hasthemes.com/jetapo-preview/jetapo/assets/images/banner/ads.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Blog Section End -->


        <!-- Modal Area Strat -->
        <div class="modal fade quick-view-modal-container" id="quick-view-modal-container" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="col-xl-12 col-lg-12">
                            <div class="row no-gutters">

                                <div class="col-lg-4">
                                    <div class="login-register-form-area">
                                        <div class="login-tab-menu">
                                            <ul class="nav">
                                                <li><a class="active show" data-toggle="tab" href="#login">Login</a></li>
                                                <li><a data-toggle="tab" href="#register">Register</a></li>
                                            </ul>
                                        </div>
                                        <div class="tab-content">
                                            <div id="login" class="tab-pane fade show active">
                                                <div class="login-register-form">
                                                    <form action="#" method="post">
                                                        <p>Login to Tooly with your registered account</p>
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="single-input">
                                                                    <input type="text" placeholder="Username or Email" name="name">
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="single-input">
                                                                    <input type="password" placeholder="Password" name="password">
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="checkbox-input">
                                                                    <input type="checkbox" name="login-form-remember" id="login-form-remember">
                                                                    <label for="login-form-remember">Remember me</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 mb-25"><button class="ht-btn">Login</button></div>
                                                        </div>
                                                    </form>
                                                    <div class="divider">
                                                        <span class="line"></span>
                                                        <span class="circle">or login with</span>
                                                    </div>
                                                    <div class="social-login">
                                                        <ul class="social-icon">
                                                            <li><a class="facebook" href="#"><i class="fab fa-facebook"></i></a></li>
                                                            <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                                                            <li><a class="linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
                                                            <li><a class="google" href="#"><i class="fab fa-google-plus"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="register" class="tab-pane fade">
                                                <div class="login-register-form">
                                                    <form action="#" method="post">
                                                        <p>Create Your account</p>
                                                        <div class="row row-5">
                                                            <div class="col-12">
                                                                <div class="single-input">
                                                                    <input type="text" placeholder="Your Username" name="name">
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="single-input">
                                                                    <input type="email" placeholder="Your Email Address" name="emain">
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <div class="single-input">
                                                                    <input type="password" placeholder="Password" name="password">
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <div class="single-input">
                                                                    <input type="password" placeholder="Confirm Password" name="conPassword">
                                                                </div>
                                                            </div>
                                                            <div class="col-6">
                                                                <div class="checkbox-input">
                                                                    <input type="checkbox" name="login-form-candidate" id="login-form-candidate">
                                                                    <label for="login-form-candidate">I am a candidate</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-6">
                                                                <div class="checkbox-input">
                                                                    <input type="checkbox" name="login-form-employer" id="login-form-employer">
                                                                    <label for="login-form-employer">I am a employer</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="register-account">
                                                                    <input id="register-terms-conditions" type="checkbox" class="checkbox" checked="" required="">
                                                                    <label for="register-terms-conditions">I read and agree to the <a href="#">Terms &amp; Conditions</a> and <a href="#">Privacy Policy</a></label>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 mb-25"><button class="ht-btn">Register</button></div>
                                                        </div>
                                                    </form>
                                                    <div class="divider">
                                                        <span class="line"></span>
                                                        <span class="circle">or login with</span>
                                                    </div>
                                                    <div class="social-login">
                                                        <ul class="social-icon">
                                                            <li><a class="facebook" href="#"><i class="fab fa-facebook"></i></a></li>
                                                            <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                                                            <li><a class="linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
                                                            <li><a class="google" href="#"><i class="fab fa-google-plus"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div class="login-instruction">
                                        <div class="login-instruction-content">
                                            <h3 class="title">Why Login To Us</h3>
                                            <p>It’s important for you to have an account and login in order to have full access at Tooly. We need to know your account details in order to allow work together</p>
                                            <ul class="list-reasons">
                                                <li class="reason">Be alerted to the latest jobs</li>
                                                <li class="reason">Apply for jobs with a single click</li>
                                                <li class="reason">Showcase your CV to thousands of employers</li>
                                                <li class="reason">Keep a record of all your applications</li>
                                            </ul>
                                            <span class="sale-text theme-color border-color">Login today &amp; Get 15% Off Coupon for the first planning purchase</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- Modal Area End -->

{% endblock %}
