{% extends 'base.html' %}
{% load static %}
{% block body_block %}
        <!-- Breadcrumb Section Start -->
        <div class="breadcrumb-section section page-heading">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-10 ml-auto mr-auto">
                        <div class="page-breadcrumb-content color-white">
                            <ul class="page-breadcrumb color-white">
                                <li><a href="index.html">Home</a></li>
                                <li><a href="blog.html">Career Advice</a></li>
                                <li>The Question Everyone Working in Job Should Know to Answer</li>
                            </ul>
                            <h1>The Question Everyone Working in Job Should Know to Answer</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Breadcrumb Section Start -->

        <!-- Blog Section Start -->
        <div class="blog-section section pt-120 pt-lg-100 pt-md-80 pt-sm-60 pt-xs-50 pb-120 pb-lg-100 pb-md-80 pb-sm-60 pb-xs-50">
            <div class="container">
                <div class="row">

                    <div class="col-xl-8 col-lg-10 ml-auto mr-auto">
                        <div class="row">

                            <div class="col-12">
                                <!-- Single Blog Start -->
                                <div class="single-blog-post mb-90 mb-xs-50">
                                    <div class="blog-image">
                                        <img src="https://demo.hasthemes.com/jetapo-preview/jetapo/assets/images/blog/blog4.jpg" alt="">
                                    </div>
                                    <div class="blog-content">
                                        <ul class="post-meta">
                                            <li><i class="lnr lnr-user"></i><a href="#">Hien Tran</a></li>
                                            <li><i class="lnr lnr-file-add"></i><a href="#">Job Skills</a></li>
                                            <li><i class="lnr lnr-clock"></i><a href="#"> Sep 25, 2019</a></li>
                                        </ul>
                                        <p>The news comes just after “full stack software developer” was named the fastest-growing job of 2018 in a data analysis conducted by another site and LinkedIn’s annual Emerging Jobs report said blockchain developer is the top sought-after position among all occupations in what is becoming an increasingly familiar pattern.</p>
                                        <p>In the new 2019 U.S. News report, software developer topped a bunch of health-care-related positions, though statistician came in at No. 2.The media site uses criteria such as salary, challenges, the match of talent and skills, room to advance and a satisfying work-life balance to compile its ranking. In describing the positon of software developer, the site said:</p>
                                        <blockquote>
                                            <p>The best software developers are creative and have the technical expertise to carry out innovative ideas. You might expect software developers to sit at their desks designing programs all day.</p>
                                            <p>
                                                <i class="fa fa-quote-left"></i>
                                                <span><strong>Ronald Korman</strong></span>
                                            </p>
                                        </blockquote>
                                        <p>On the salary front, the top 25 percent of developers made $128,960 in 2017, while the bottom 25 percent made $77,710. The position graded average in upward mobility and stress level, while flexibility was rated above average.</p>
                                        <p>For any non-developers reading this article who want to ascend to the best job in the new year, here’s the site’s advice from real-life developer Sam Schillace: Write code. Early and often. Good engineers are curious and want to learn how to build new things and are also constantly trying to find new and interesting things they haven’t built yet. If you don’t feel passionate about trying out some new technology or language you’ve heard, or you aren’t obsessed with solving that problem or building that app you’ve thought of, you probably shouldn’t be a programmer.</p>
                                        <p>The site also ranked the top 10 technology jobs</p>
                                        <ul class="blog-dt-list">
                                            <li>Software Developer</li>
                                            <li>Computer Systems Analyst</li>
                                            <li>T Manager</li>
                                            <li>Information Security Analyst</li>
                                            <li>Database Administrator</li>
                                            <li>Web Developer</li>
                                            <li>Computer Network Architect</li>
                                            <li>Computer Systems Administrator</li>
                                            <li>Computer Support Specialist</li>
                                            <li>Computer Programmer</li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- Single Blog End -->
                            </div>

                            <div class="col-12">
                                <div class="job-wrapper mb-90">
                                    <h3 class="title">Recent Jobs For You:</h3>
                                    <div class="row">

                                        <div class="col-lg-12 mb-20">
                                            <!-- Single Job Start  -->
                                            <div class="single-job style-two">
                                                <div class="info-top">
                                                    <div class="job-image">
                                                        <a href="#">
                                                            <img src="https://demo.hasthemes.com/jetapo-preview/jetapo/assets/images/companies_logo/logo-100/logo1.jpg" alt="logo">
                                                        </a>
                                                    </div>
                                                    <div class="job-info">
                                                        <div class="job-info-inner">
                                                            <div class="job-info-top">
                                                                <div class="saveJob for-listing">
                                                                    <span class="featured-label">featured</span>
                                                                    <a class="job-type-label ml-20 mr-20">Full Time</a>
                                                                    <a class="save-job" href="#quick-view-modal-container" data-toggle="modal">
                                                                        <i class="far fa-heart"></i>
                                                                    </a>
                                                                </div>
                                                                <div class="title-name">
                                                                    <h3 class="job-title">
                                                                        <a href="#">Chief Accountant</a>
                                                                    </h3>
                                                                    <div class="employer-name">
                                                                        <a href="#">Shippo Company</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="job-meta-two">
                                                                <div class="field-salary_from">
                                                                    <i class="gj-icon gj-icon-money"></i>
                                                                    $500 - $1,000 / month
                                                                </div>
                                                                <div class="field-datetime"><i class="lnr lnr-clock"></i>8 months ago</div>
                                                                <div class="field-map"><i class="lnr lnr-map-marker"></i>Hanoi, Hanoi</div>
                                                            </div>
                                                            <div class="job-skill-tag">
                                                                <a href="#">Android</a>
                                                                <a href="#">app</a>
                                                                <a href="#">ReactJs</a>
                                                                <a href="#">Ruby</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Single Job End -->
                                        </div>

                                        <div class="col-lg-12 mb-20">
                                            <!-- Single Job Start  -->
                                            <div class="single-job style-two">
                                                <div class="info-top">
                                                    <div class="job-image">
                                                        <a href="#">
                                                            <img src="https://demo.hasthemes.com/jetapo-preview/jetapo/assets/images/companies_logo/logo-100/logo2.jpg" alt="logo">
                                                        </a>
                                                    </div>
                                                    <div class="job-info">
                                                        <div class="job-info-inner">
                                                            <div class="job-info-top">
                                                                <div class="saveJob for-listing">
                                                                    <span class="featured-label">featured</span>
                                                                    <a class="job-type-label partTime ml-20 mr-20">Part Time</a>
                                                                    <a class="save-job" href="#quick-view-modal-container" data-toggle="modal">
                                                                        <i class="far fa-heart"></i>
                                                                    </a>
                                                                </div>
                                                                <div class="title-name">
                                                                    <h3 class="job-title">
                                                                        <a href="#">Senior Data Engineer</a>
                                                                    </h3>
                                                                    <div class="employer-name">
                                                                        <a href="#">Radio Game</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="job-meta-two">
                                                                <div class="field-salary_from">
                                                                    <i class="gj-icon gj-icon-money"></i>
                                                                    $500 - $1,000 / month
                                                                </div>
                                                                <div class="field-datetime"><i class="lnr lnr-clock"></i>8 months ago</div>
                                                                <div class="field-map"><i class="lnr lnr-map-marker"></i>Chicago, Illinois</div>
                                                            </div>
                                                            <div class="job-skill-tag">
                                                                <a href="#">CSS</a>
                                                                <a href="#">PHP</a>
                                                                <a href="#">WordPress</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Single Job End -->
                                        </div>

                                        <div class="col-lg-12 mb-20">
                                            <!-- Single Job Start  -->
                                            <div class="single-job style-two">
                                                <div class="info-top">
                                                    <div class="job-image">
                                                        <a href="#">
                                                            <img src="https://demo.hasthemes.com/jetapo-preview/jetapo/assets/images/companies_logo/logo-100/logo3.jpg" alt="logo">
                                                        </a>
                                                    </div>
                                                    <div class="job-info">
                                                        <div class="job-info-inner">
                                                            <div class="job-info-top">
                                                                <div class="saveJob for-listing">
                                                                    <a class="job-type-label ml-20 mr-20">Remote</a>
                                                                    <a class="save-job" href="#quick-view-modal-container" data-toggle="modal">
                                                                        <i class="far fa-heart"></i>
                                                                    </a>
                                                                </div>
                                                                <div class="title-name">
                                                                    <h3 class="job-title">
                                                                        <a href="#">Construction Worker</a>
                                                                    </h3>
                                                                    <div class="employer-name">
                                                                        <a href="#">Digital Vine</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="job-meta-two">
                                                                <div class="field-salary_from">
                                                                    <i class="gj-icon gj-icon-money"></i>
                                                                    $500 - $1,000 / month
                                                                </div>
                                                                <div class="field-datetime"><i class="lnr lnr-clock"></i>8 months ago</div>
                                                                <div class="field-map"><i class="lnr lnr-map-marker"></i>Chicago, Illinois</div>
                                                            </div>
                                                            <div class="job-skill-tag">
                                                                <a href="#">Angular</a>
                                                                <a href="#">ASP.NET</a>
                                                                <a href="#">Banner</a>
                                                                <a href="#">C++</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Single Job End -->
                                        </div>

                                        <div class="col-lg-12 mb-20">
                                            <!-- Single Job Start  -->
                                            <div class="single-job style-two">
                                                <div class="info-top">
                                                    <div class="job-image">
                                                        <a href="#">
                                                            <img src="https://demo.hasthemes.com/jetapo-preview/jetapo/assets/images/companies_logo/logo-100/logo4.jpg" alt="logo">
                                                        </a>
                                                    </div>
                                                    <div class="job-info">
                                                        <div class="job-info-inner">
                                                            <div class="job-info-top">
                                                                <div class="saveJob for-listing">
                                                                    <span class="featured-label">featured</span>
                                                                    <a class="job-type-label ml-20 mr-20">Full Time</a>
                                                                    <a class="save-job" href="#quick-view-modal-container" data-toggle="modal">
                                                                        <i class="far fa-heart"></i>
                                                                    </a>
                                                                </div>
                                                                <div class="title-name">
                                                                    <h3 class="job-title">
                                                                        <a href="#">Unity Developer</a>
                                                                    </h3>
                                                                    <div class="employer-name">
                                                                        <a href="#">Vsmarttech</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="job-meta-two">
                                                                <div class="field-salary_from">
                                                                    <i class="gj-icon gj-icon-money"></i>
                                                                    $500 - $1,000 / month
                                                                </div>
                                                                <div class="field-datetime"><i class="lnr lnr-clock"></i>8 months ago</div>
                                                                <div class="field-map"><i class="lnr lnr-map-marker"></i>Hanoi, Hanoi</div>
                                                            </div>
                                                            <div class="job-skill-tag">
                                                                <a href="#">NodeJS</a>
                                                                <a href="#">PHP</a>
                                                                <a href="#">Python</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Single Job End -->
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="post-tags">
                                    <ul class="tags">
                                        <li>Tags:</li>
                                        <li><a href="#">Branding</a></li>
                                        <li><a href="#">Consulting</a></li>
                                        <li><a href="#">Contruction</a></li>
                                        <li><a href="#">Manage</a></li>
                                        <li><a href="#">Marketing</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="post-author-info mt-70">
                                    <div class="author-image">
                                        <img src="https://demo.hasthemes.com/jetapo-preview/jetapo/assets/images/author/author1.jpg" alt="">
                                    </div>
                                    <div class="author-info">
                                        <h3 class="author-name"><a href="#">Hien Tran</a></h3>
                                        <p>Mc Cathy is an online courses and workshops for entrepreneurs and bloggers who want to grow an audience, start an online business, and change the freakin' world.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="post-navigation mt-90">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="prev-post">
                                                <a class="prev-post-title" href="#">
                                                    <span class="text"><i class="lnr lnr-arrow-left"></i>Previous Post</span>
                                                    <span class="title">Miley Cyrus and Job: 10 Surprising Things They Have in Common</span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="next-post">
                                                <a class="next-post-title" href="#">
                                                    <span class="text">Next Post<i class="lnr lnr-arrow-right"></i></span>
                                                    <span class="title">7 Answers to the Most Frequently Asked Questions About Job</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="related-post mt-90">
                                    <h3 class="title">Related Post</h3>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <!-- Single Blog Start -->
                                            <div class="single-blog-post mb-30">
                                                <div class="blog-image mb-15">
                                                    <a href="#">
                                                        <img src="https://demo.hasthemes.com/jetapo-preview/jetapo/assets/images/blog/blog9.jpg" alt="">
                                                    </a>
                                                </div>
                                                <div class="blog-content">
                                                    <ul class="post-meta mb-15">
                                                        <li><i class="lnr lnr-user"></i><a href="#">Hien Tran</a></li>
                                                        <li><i class="lnr lnr-file-add"></i><a href="#">News & Update</a></li>
                                                        <li><i class="lnr lnr-clock"></i><a href="#"> Oct 24, 2019</a></li>
                                                    </ul>
                                                    <h5 class="title-two">
                                                        <a href="#">7 Answers to the Most Frequently Asked Questions About Job</a>
                                                    </h5>
                                                </div>
                                            </div>
                                            <!-- Single Blog End -->
                                        </div>
                                        <div class="col-md-6">
                                            <!-- Single Blog Start -->
                                            <div class="single-blog-post mb-30">
                                                <div class="blog-image mb-15">
                                                    <a href="#">
                                                        <img src="https://demo.hasthemes.com/jetapo-preview/jetapo/assets/images/blog/blog10.jpg" alt="">
                                                    </a>
                                                </div>
                                                <div class="blog-content">
                                                    <ul class="post-meta mb-15">
                                                        <li><i class="lnr lnr-user"></i><a href="#">Hien Tran</a></li>
                                                        <li><i class="lnr lnr-file-add"></i><a href="#">News & Update</a></li>
                                                        <li><i class="lnr lnr-clock"></i><a href="#"> Oct 24, 2019</a></li>
                                                    </ul>
                                                    <h5 class="title-two">
                                                        <a href="#">What the Oxford English Dictionary About Job</a>
                                                    </h5>
                                                </div>
                                            </div>
                                            <!-- Single Blog End -->
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="comment-wrapper mt-90">
                                    <h3 class="title">Add Comment</h3>
                                    <div class="comment-form">
                                        <form action="#">
                                            <div class="row row-7">
                                                <div class="col-12 mb-15">
                                                    <textarea placeholder="Your Message"></textarea>
                                                </div>
                                                <div class="col-md-4 mb-15">
                                                    <input type="text" placeholder="Name">
                                                </div>
                                                <div class="col-md-4 mb-15">
                                                    <input type="text" placeholder="Email">
                                                </div>
                                                <div class="col-md-4 mb-15">
                                                    <input type="text" placeholder="Website">
                                                </div>
                                                <div class="col-12 text-center mt-20">
                                                    <button class="ht-btn theme-btn theme-btn-two">Post Comment</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Blog Section End -->



        <!-- Modal Area Strat -->
        <div class="modal fade quick-view-modal-container" id="quick-view-modal-container" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="col-xl-12 col-lg-12">
                            <div class="row no-gutters">

                                <div class="col-lg-4">
                                    <div class="login-register-form-area">
                                        <div class="login-tab-menu">
                                            <ul class="nav">
                                                <li><a class="active show" data-toggle="tab" href="#login">Login</a></li>
                                                <li><a data-toggle="tab" href="#register">Register</a></li>
                                            </ul>
                                        </div>
                                        <div class="tab-content">
                                            <div id="login" class="tab-pane fade show active">
                                                <div class="login-register-form">
                                                    <form action="#" method="post">
                                                        <p>Login to Tooly with your registered account</p>
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="single-input">
                                                                    <input type="text" placeholder="Username or Email" name="name">
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="single-input">
                                                                    <input type="password" placeholder="Password" name="password">
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="checkbox-input">
                                                                    <input type="checkbox" name="login-form-remember" id="login-form-remember">
                                                                    <label for="login-form-remember">Remember me</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 mb-25"><button class="ht-btn">Login</button></div>
                                                        </div>
                                                    </form>
                                                    <div class="divider">
                                                        <span class="line"></span>
                                                        <span class="circle">or login with</span>
                                                    </div>
                                                    <div class="social-login">
                                                        <ul class="social-icon">
                                                            <li><a class="facebook" href="#"><i class="fab fa-facebook"></i></a></li>
                                                            <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                                                            <li><a class="linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
                                                            <li><a class="google" href="#"><i class="fab fa-google-plus"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="register" class="tab-pane fade">
                                                <div class="login-register-form">
                                                    <form action="#" method="post">
                                                        <p>Create Your account</p>
                                                        <div class="row row-5">
                                                            <div class="col-12">
                                                                <div class="single-input">
                                                                    <input type="text" placeholder="Your Username" name="name">
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="single-input">
                                                                    <input type="email" placeholder="Your Email Address" name="emain">
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <div class="single-input">
                                                                    <input type="password" placeholder="Password" name="password">
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <div class="single-input">
                                                                    <input type="password" placeholder="Confirm Password" name="conPassword">
                                                                </div>
                                                            </div>
                                                            <div class="col-6">
                                                                <div class="checkbox-input">
                                                                    <input type="checkbox" name="login-form-candidate" id="login-form-candidate">
                                                                    <label for="login-form-candidate">I am a candidate</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-6">
                                                                <div class="checkbox-input">
                                                                    <input type="checkbox" name="login-form-employer" id="login-form-employer">
                                                                    <label for="login-form-employer">I am a employer</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="register-account">
                                                                    <input id="register-terms-conditions" type="checkbox" class="checkbox" checked="" required="">
                                                                    <label for="register-terms-conditions">I read and agree to the <a href="#">Terms &amp; Conditions</a> and <a href="#">Privacy Policy</a></label>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 mb-25"><button class="ht-btn">Register</button></div>
                                                        </div>
                                                    </form>
                                                    <div class="divider">
                                                        <span class="line"></span>
                                                        <span class="circle">or login with</span>
                                                    </div>
                                                    <div class="social-login">
                                                        <ul class="social-icon">
                                                            <li><a class="facebook" href="#"><i class="fab fa-facebook"></i></a></li>
                                                            <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                                                            <li><a class="linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
                                                            <li><a class="google" href="#"><i class="fab fa-google-plus"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div class="login-instruction">
                                        <div class="login-instruction-content">
                                            <h3 class="title">Why Login To Us</h3>
                                            <p>It’s important for you to have an account and login in order to have full access at Tooly. We need to know your account details in order to allow work together</p>
                                            <ul class="list-reasons">
                                                <li class="reason">Be alerted to the latest jobs</li>
                                                <li class="reason">Apply for jobs with a single click</li>
                                                <li class="reason">Showcase your CV to thousands of employers</li>
                                                <li class="reason">Keep a record of all your applications</li>
                                            </ul>
                                            <span class="sale-text theme-color border-color">Login today &amp; Get 15% Off Coupon for the first planning purchase</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- Modal Area End -->

{% endblock %}
