{% extends 'base.html' %}
{% load static %}
{% block body_block %}

        <!-- Breadcrumb Section Start -->
        <div class="breadcrumb-section section pt-60 pt-sm-50 pt-xs-40">
            <div class="container sb-border-two pb-60 pb-sm-50 pb-xs-40">
                <div class="row">
                    <div class="col-12">
                        <div class="page-breadcrumb-content mb-40">
                            <ul class="page-breadcrumb">
                                <li><a href="index.html">Home</a></li>
                                <li><a href="job-listing.html">Employers</a></li>
                                <li>HasThemes</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="col-lg-7">
                        <div class="employer-head-info">
                            <div class="employer-logo">
                                <a href="#"><img src="https://demo.hasthemes.com/jetapo-preview/jetapo/assets/images/companies_logo/logo-10.jpg" alt=""></a>
                            </div>
                            <div class="employer-content">
                                <h1 class="employer-name">HasThemes <i class="fas fa-check-circle"></i></h1>
                                <div class="employer-rate">
                                    <div class="star">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <span class="total theme-color">4.5 Ratings </span>
                                </div>
                                <ul class="employer-meta">
                                    <li class="view-employer"><i class="lnr lnr-eye"></i>168 Views</li>
                                    <li class="followers"><i class="lnr lnr-location"></i> 3 followers</li>
                                    <li class="date-publish">
                                        <i class="lnr lnr-clock"></i>
                                        Registered on: <label class="theme-color">Sep 3, 2019</label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="sidebar-wrapper-three">
                            <div class="common-sidebar-widget sidebar-three mb-0 pb-0">
                                <div class="sidebar-job-share">
                                    <div class="job-share candidate-action">
                                        <ul>
                                            <li><a href="#"><i class="lnr lnr-heart"></i> <span class="text">Save </span></a></li>
                                            <li><a href="#"><i class="lnr lnr-bubble"></i> <span class="text">Share </span></a>
                                                <ul class="social-share candidate-share">
                                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                                    <li><a href="#"><i class="far fa-envelope"></i></a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#"><i class="lnr lnr-warning"></i> <span class="text">Report </span></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Breadcrumb Section Start -->

        <!-- Employer Details Section Start -->
        <div class="employer-details-section section pt-120 pt-lg-100 pt-md-80 pt-sm-50 pt-xs-40 pb-120 pb-lg-100 pb-md-80 pb-sm-60 pb-xs-50">
            <div class="container">
                <div class="row">

                    <div class="col-lg-4 order-lg-2 order-2 mt-sm-60 mt-xs-50">
                        <div class="sidebar-wrapper-three">
                            <div class="common-sidebar-widget sidebar-three">
                                <div class="sidebar-meta sidebar-meta-two">

                                    <!-- Single Meta Field Start -->
                                    <div class="single-meta-field meta-field-two">
                                        <div class="field-label">
                                            <i class="lnr lnr-tag"></i>
                                            <span>Categories </span>
                                        </div>
                                        <div class="field-value">Teachers</div>
                                    </div>
                                    <!-- Single Meta Field Start -->

                                    <!-- Single Meta Field Start -->
                                    <div class="single-meta-field meta-field-two">
                                        <div class="field-label">
                                            <i class="lnr lnr-users"></i>
                                            <span>Size </span>
                                        </div>
                                        <div class="field-value"><a href="#">20-40</a></div>
                                    </div>
                                    <!-- Single Meta Field Start -->

                                    <!-- Single Meta Field Start -->
                                    <div class="single-meta-field meta-field-two">
                                        <div class="field-label">
                                            <i class="lnr lnr-earth"></i>
                                            <span>Website </span>
                                        </div>
                                        <div class="field-value">inwavethemes.com</div>
                                    </div>
                                    <!-- Single Meta Field Start -->

                                    <!-- Single Meta Field Start -->
                                    <div class="single-meta-field meta-field-two">
                                        <div class="field-label">
                                            <i class="lnr lnr-map-marker"></i>
                                            <span>Location </span>
                                        </div>
                                        <div class="field-value"><a href="#">Hanoi, Hà Nội</a></div>
                                    </div>
                                    <!-- Single Meta Field Start -->

                                    <div class="sidebar-social mt-20">
                                        <div class="social-all">
                                            <a class="facebook" href="#"><i class="fab fa-facebook"></i></a>
                                            <a class="twitter" href="#"><i class="fab fa-twitter"></i></a>
                                            <a class="linkedin" href="#"><i class="fab fa-linkedin"></i></a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="common-sidebar-widget sidebar-three">
                                <h2 class="sidebar-title">Location</h2>
                                <div class="sidebar-map">
                                    <iframe class="contact-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2136.986005919501!2d-73.9685579655238!3d40.75862446708152!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c258e4a1c884e5%3A0x24fe1071086b36d5!2sThe%20Atrium!5e0!3m2!1sen!2sbd!4v1585132512970!5m2!1sen!2sbd" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-8 order-lg-1 order-1 pr-55 pr-md-15 pr-sm-15 pr-xs-15">

                        <div class="employer-main-content">
                            <div class="field-description">
                                <h6>Praesent vitae ipsum eu magna pretium aliquam. Curabitur interdum quis velit non tincidunt. Donec pretium gravida erat, a faucibus velit egestas eget.</h6>

                                <h3>Overview</h3>

                                <p>Upperside Group has been established as a marketing company in North and South America. Our traditional business model is based on the accomplishment of properties in the commercial markets in America. Based on the decision of the company to diversify our properties; we have now established this corporation in Toronto. The revenues of our company are expected to be nearly US$50,000 per month depending on the variables that are factored in with investments in the commercial industry. There is a great need for certified or official bank checks in the future to deal with some trading transactions.</p>

                                <p>In addition to marketing investments, the company has invested portions of its assets in the purchase and sale of securities such as stocks and bonds as well as Forex trading on global markets. Upperside Group conducts marketing as well as consulting. The company undertakes all maintenance duties for marketing facilities and organizations and conducts all the security and surveillance for the properties.</p>

                                <h3>What You Will Get</h3>

                                <p>While salary is a major deciding factor in accepting a job offer, employees experience job satisfaction beyond monetary value. Hiring managers need to know how to attract the best and most dedicated candidates, and having the right benefits package is sure to attract the right people. So, what benefits do employees value most?</p>

                                <ul>
                                    <li>Extra Private health insurance coverage by the company to help you getting better focus on working</li>
                                    <li>Flexible working time schedule and leave policy as we know the importance of work-life balance</li>
                                    <li>CBe exposed to the latest technology and the most innovative ideas worldwide</li>
                                    <li>Company trip, team-building events</li>
                                    <li>13th salary and project bonus</li>
                                    <li>Work-from-home policy</li>
                                    <li>Support laptop</li>
                                    <li>Extra healthcare package</li>
                                </ul>
                            </div>
                            <div class="field-skills">
                                <h3>Skills</h3>
                                <ul class="skill-tag">
                                    <li><a href="#">Account Manager</a></li>
                                    <li><a href="#">Administrative</a></li>
                                    <li><a href="#">Android</a></li>
                                    <li><a href="#">Angular</a></li>
                                </ul>
                            </div>
                            <div class="field-Gallery">
                                <h3>Gallery</h3>
                                <ul class="portfolio-list">
                                    <li><a href="#"><img src="https://demo.hasthemes.com/jetapo-preview/jetapo/assets/images/portfolio/portfolio1.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="https://demo.hasthemes.com/jetapo-preview/jetapo/assets/images/portfolio/portfolio2.jpg" alt=""></a></li>
                                    <li><a href="#"><img src="https://demo.hasthemes.com/jetapo-preview/jetapo/assets/images/portfolio/portfolio3.jpg" alt=""></a></li>
                                </ul>
                            </div>
                            <div class="review-area">
                                <div class="review-container">
                                    <h3 class="title">2 Review</h3>
                                    <div class="review-content mb-30">
                                        <div class="review-avatar">
                                            <img src="https://demo.hasthemes.com/jetapo-preview/jetapo/assets/images/author/author1.jpg" alt="">
                                        </div>
                                        <div class="review-details">
                                            <div class="review-title">
                                                <h3 class="title">You’ve been so helpful.</h3>
                                                <div class="rate-content">
                                                    <div class="star">
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="meta">
                                                <ul>
                                                    <li>
                                                        <span class="review-by">By: </span>
                                                        <span class="review-name theme-color">Employer Emplyer </span>
                                                    </li>
                                                    <li>
                                                        <i class="lnr lnr-clock"></i>
                                                        <span>6 months ago</span>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="review-des">
                                                <p>Etiam ut ligula velit. Donec at blandit metus, sit amet elementum sapien. Nullam fermentum lorem quis mollis sodales. Nullam sodales volutpat tortor, vitae bibendum ex viverra faucibus.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="review-content">
                                        <div class="review-avatar">
                                            <img src="https://demo.hasthemes.com/jetapo-preview/jetapo/assets/images/author/author2.jpg" alt="">
                                        </div>
                                        <div class="review-details">
                                            <div class="review-title">
                                                <h3 class="title">Suspendisse in tortor ex</h3>
                                                <div class="rate-content">
                                                    <div class="star">
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="meta">
                                                <ul>
                                                    <li>
                                                        <span class="review-by">By: </span>
                                                        <span class="review-name theme-color">Employer Emplyer </span>
                                                    </li>
                                                    <li>
                                                        <i class="lnr lnr-clock"></i>
                                                        <span>6 months ago</span>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="review-des">
                                                <p>Etiam ut ligula velit. Donec at blandit metus, sit amet elementum sapien. Nullam fermentum lorem quis mollis sodales. Nullam sodales volutpat tortor, vitae bibendum ex viverra faucibus.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="job-area mt-60">
                                <div class="job-container">
                                    <h3 class="title">3 Opening Jobs</h3>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <!-- Single Job Start  -->
                                            <div class="single-job style-two">
                                                <div class="info-top">
                                                    <div class="job-info">
                                                        <div class="job-info-inner">
                                                            <div class="job-info-top">
                                                                <div class="saveJob for-listing">
                                                                    <span class="featured-label">featured</span>
                                                                    <a class="job-type-label ml-20 mr-20">Full Time</a>
                                                                    <a class="save-job" href="#quick-view-modal-container" data-toggle="modal">
                                                                        <i class="far fa-heart"></i>
                                                                    </a>
                                                                </div>
                                                                <div class="title-name">
                                                                    <h5 class="job-title">
                                                                        <a href="#">Chief Accountant</a>
                                                                    </h5>
                                                                </div>
                                                            </div>
                                                            <div class="job-meta-two">
                                                                <div class="field-salary_from">
                                                                    <i class="gj-icon gj-icon-money"></i>
                                                                    $500 - $1,000 / month
                                                                </div>
                                                                <div class="field-datetime"><i class="lnr lnr-clock"></i>8 months ago</div>
                                                                <div class="field-map"><i class="lnr lnr-map-marker"></i>Hanoi, Hanoi</div>
                                                            </div>
                                                            <div class="job-skill-tag">
                                                                <a href="#">Android</a>
                                                                <a href="#">app</a>
                                                                <a href="#">ReactJs</a>
                                                                <a href="#">Ruby</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Single Job End -->
                                        </div>

                                        <div class="col-lg-12">
                                            <!-- Single Job Start  -->
                                            <div class="single-job style-two">
                                                <div class="info-top">
                                                    <div class="job-info">
                                                        <div class="job-info-inner">
                                                            <div class="job-info-top">
                                                                <div class="saveJob for-listing">
                                                                    <span class="featured-label">featured</span>
                                                                    <a class="job-type-label partTime ml-20 mr-20">Part Time</a>
                                                                    <a class="save-job" href="#quick-view-modal-container" data-toggle="modal">
                                                                        <i class="far fa-heart"></i>
                                                                    </a>
                                                                </div>
                                                                <div class="title-name">
                                                                    <h5 class="job-title">
                                                                        <a href="#">Senior Data Engineer</a>
                                                                    </h5>
                                                                </div>
                                                            </div>
                                                            <div class="job-meta-two">
                                                                <div class="field-salary_from">
                                                                    <i class="gj-icon gj-icon-money"></i>
                                                                    $500 - $1,000 / month
                                                                </div>
                                                                <div class="field-datetime"><i class="lnr lnr-clock"></i>8 months ago</div>
                                                                <div class="field-map"><i class="lnr lnr-map-marker"></i>Chicago, Illinois</div>
                                                            </div>
                                                            <div class="job-skill-tag">
                                                                <a href="#">CSS</a>
                                                                <a href="#">PHP</a>
                                                                <a href="#">WordPress</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Single Job End -->
                                        </div>

                                        <div class="col-lg-12">
                                            <!-- Single Job Start  -->
                                            <div class="single-job style-two">
                                                <div class="info-top">
                                                    <div class="job-info">
                                                        <div class="job-info-inner">
                                                            <div class="job-info-top">
                                                                <div class="saveJob for-listing">
                                                                    <a class="job-type-label ml-20 mr-20">Remote</a>
                                                                    <a class="save-job" href="#quick-view-modal-container" data-toggle="modal">
                                                                        <i class="far fa-heart"></i>
                                                                    </a>
                                                                </div>
                                                                <div class="title-name">
                                                                    <h5 class="job-title">
                                                                        <a href="#">Construction Worker</a>
                                                                    </h5>
                                                                </div>
                                                            </div>
                                                            <div class="job-meta-two">
                                                                <div class="field-salary_from">
                                                                    <i class="gj-icon gj-icon-money"></i>
                                                                    $500 - $1,000 / month
                                                                </div>
                                                                <div class="field-datetime"><i class="lnr lnr-clock"></i>8 months ago</div>
                                                                <div class="field-map"><i class="lnr lnr-map-marker"></i>Chicago, Illinois</div>
                                                            </div>
                                                            <div class="job-skill-tag">
                                                                <a href="#">Angular</a>
                                                                <a href="#">ASP.NET</a>
                                                                <a href="#">Banner</a>
                                                                <a href="#">C++</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Single Job End -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <!-- Employer Details Section End -->



        <!-- Modal Area Start -->
        <div class="modal fade quick-view-modal-container" id="quick-view-modal-container" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="col-xl-12 col-lg-12">
                            <div class="row no-gutters">

                                <div class="col-lg-4">
                                    <div class="login-register-form-area">
                                        <div class="login-tab-menu">
                                            <ul class="nav">
                                                <li><a class="active show" data-toggle="tab" href="#login">Login</a></li>
                                                <li><a data-toggle="tab" href="#register">Register</a></li>
                                            </ul>
                                        </div>
                                        <div class="tab-content">
                                            <div id="login" class="tab-pane fade show active">
                                                <div class="login-register-form">
                                                    <form action="#" method="post">
                                                        <p>Login to Jotopa with your registered account</p>
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="single-input">
                                                                    <input type="text" placeholder="Username or Email" name="name">
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="single-input">
                                                                    <input type="password" placeholder="Password" name="password">
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="checkbox-input">
                                                                    <input type="checkbox" name="login-form-remember" id="login-form-remember">
                                                                    <label for="login-form-remember">Remember me</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 mb-25"><button class="ht-btn">Login</button></div>
                                                        </div>
                                                    </form>
                                                    <div class="divider">
                                                        <span class="line"></span>
                                                        <span class="circle">or login with</span>
                                                    </div>
                                                    <div class="social-login">
                                                        <ul class="social-icon">
                                                            <li><a class="facebook" href="#"><i class="fab fa-facebook"></i></a></li>
                                                            <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                                                            <li><a class="linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
                                                            <li><a class="google" href="#"><i class="fab fa-google-plus"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="register" class="tab-pane fade">
                                                <div class="login-register-form">
                                                    <form action="#" method="post">
                                                        <p>Create Your account</p>
                                                        <div class="row row-5">
                                                            <div class="col-12">
                                                                <div class="single-input">
                                                                    <input type="text" placeholder="Your Username" name="name">
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="single-input">
                                                                    <input type="email" placeholder="Your Email Address" name="emain">
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <div class="single-input">
                                                                    <input type="password" placeholder="Password" name="password">
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <div class="single-input">
                                                                    <input type="password" placeholder="Confirm Password" name="conPassword">
                                                                </div>
                                                            </div>
                                                            <div class="col-6">
                                                                <div class="checkbox-input">
                                                                    <input type="checkbox" name="login-form-candidate" id="login-form-candidate">
                                                                    <label for="login-form-candidate">I am a candidate</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-6">
                                                                <div class="checkbox-input">
                                                                    <input type="checkbox" name="login-form-employer" id="login-form-employer">
                                                                    <label for="login-form-employer">I am a employer</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="register-account">
                                                                    <input id="register-terms-conditions" type="checkbox" class="checkbox" checked="" required="">
                                                                    <label for="register-terms-conditions">I read and agree to the <a href="#">Terms &amp; Conditions</a> and <a href="#">Privacy Policy</a></label>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 mb-25"><button class="ht-btn">Register</button></div>
                                                        </div>
                                                    </form>
                                                    <div class="divider">
                                                        <span class="line"></span>
                                                        <span class="circle">or login with</span>
                                                    </div>
                                                    <div class="social-login">
                                                        <ul class="social-icon">
                                                            <li><a class="facebook" href="#"><i class="fab fa-facebook"></i></a></li>
                                                            <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                                                            <li><a class="linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
                                                            <li><a class="google" href="#"><i class="fab fa-google-plus"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div class="login-instruction">
                                        <div class="login-instruction-content">
                                            <h3 class="title">Why Login To Us</h3>
                                            <p>It’s important for you to have an account and login in order to have full access at Jotopa. We need to know your account details in order to allow work together</p>
                                            <ul class="list-reasons">
                                                <li class="reason">Be alerted to the latest jobs</li>
                                                <li class="reason">Apply for jobs with a single click</li>
                                                <li class="reason">Showcase your CV to thousands of employers</li>
                                                <li class="reason">Keep a record of all your applications</li>
                                            </ul>
                                            <span class="sale-text theme-color border-color">Login today &amp; Get 15% Off Coupon for the first planning purchase</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- Modal Area End -->

{% endblock %}
