{% extends 'base.html' %}
{% load static %}
{% block body_block %}

        <!-- Breadcrumb Section Start -->
        <div class="breadcrumb-section section bg_color--5 pt-60 pt-sm-50 pt-xs-40 pb-60 pb-sm-50 pb-xs-40">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="page-breadcrumb-content">
                            <ul class="page-breadcrumb">
                                <li><a href="index.html">Home</a></li>
                                <li>FAQS</li>
                            </ul>
                            <h1>FAQS</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Breadcrumb Section Start -->

        <!-- Faq Section Start -->
        <div class="faq-section section bg_color--5 pb-120 pb-lg-100 pb-md-80 pb-sm-60 pb-xs-50">
            <div class="container faq-wrapper">
                <div class="row">

                    <div class="col-lg-3 col-md-3">
                        <!-- Faq Sidebar Start -->
                        <div class="faq-sidebar">
                            <ul class="faq-sidebar-menu">
                                <li><a href="job-listing.html">Find Jobs</a></li>
                                <li><a href="candidates-listing.html">Candidates</a></li>
                                <li><a href="employer-listing.html">Employers</a></li>
                            </ul>
                        </div>
                        <!-- Faq Sidebar End -->
                    </div>

                    <div class="col-lg-9 col-md-9">
                        <div class="row">

                            <div class="col-lg-6 pr-65 pr-md-15 pr-sm-15 pr-xs-15">
                                <!-- Single Faq Start -->
                                <div class="single-faq">
                                    <h5>How do I find and apply for a job?</h5>
                                    <p><a href="#">Create your profile first</a>. Include as much information about your skills, education and experience as possible. An employer might ask you for more information later on in the process, but you want to make sure you make this as clear and as detailed as possible. Fill out your profile completely to get better matches and stand out to employers.</p>
                                    <hr>
                                </div>
                                <!-- Single Faq End -->
                                <!-- Single Faq Start -->
                                <div class="single-faq">
                                    <h5>I am already registered as a user in Jopota’s database – can i apply for an open job posting?</h5>
                                    <p>Yes! You can use your already existing profile to apply for a new vacancy. Simply just log in to your profile and apply for the vacancy from there.</p>
                                    <hr>
                                </div>
                                <!-- Single Faq End -->
                                <!-- Single Faq Start -->
                                <div class="single-faq">
                                    <h5>Who can apply for a position at Jotopa?</h5>
                                    <p>At Jotopa, we embrace diversity. We encourage everyone to apply for our job openings, no matter who you are or what your background is. So if you see an opening that fits with your skills and competencies, don’t hold back.</p>
                                    <hr>
                                </div>
                                <!-- Single Faq End -->
                                <!-- Single Faq Start -->
                                <div class="single-faq">
                                    <h5>Where do I find available positions?</h5>
                                    <p>You can find <a href="#">all job postings here.</a></p>
                                </div>
                                <!-- Single Faq End -->
                            </div>

                            <div class="col-lg-6 pl-65 pl-md-15 pl-sm-15 pl-xs-15">
                                <!-- Single Faq Start -->
                                <div class="single-faq">
                                    <h5>How will Jotopa handle my application?</h5>
                                    <p>You can apply online by using the “Apply Online” button provide for each job posting. Jopota will confirm by email that we have received your application and give you an estimated time line for finalising the application process</p>
                                    <hr>
                                </div>
                                <!-- Single Faq End -->
                                <!-- Single Faq Start -->
                                <div class="single-faq">
                                    <h5>When can I expect to hear from you?</h5>
                                    <p>The recruitment process usually takes around 6 to 8 weeks. You will hear from us within 6 weeks.</p>
                                    <hr>
                                </div>
                                <!-- Single Faq End -->
                                <!-- Single Faq Start -->
                                <div class="single-faq">
                                    <h5>Do you have any guidelines for my application?</h5>
                                    <p>At Jotopa, we embrace diversity. We encourage everyone to apply for our job openings, no matter who you are or what your background is.</p>
                                    <ul>
                                        <li>So if you see an opening that fits with your skills and competencies, don’t hold back.</li>
                                        <li>Where do I find available positions?</li>
                                        <li>You can find all job postings here.</li>
                                    </ul>
                                    <hr>
                                </div>
                                <!-- Single Faq End -->
                            </div>

                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-12 pt-25 pb-15 mt-40 mt-xs-0">
                        <div class="faq-border"></div>
                        <div class="faq-contact">
                            <p>For further questions, please contact us via: <a href="#">contact@jetapo.com</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Faq Section End -->


        <!-- Modal Area Strat -->
        <div class="modal fade quick-view-modal-container" id="quick-view-modal-container" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="col-xl-12 col-lg-12">
                            <div class="row no-gutters">

                                <div class="col-lg-4">
                                    <div class="login-register-form-area">
                                        <div class="login-tab-menu">
                                            <ul class="nav">
                                                <li><a class="active show" data-toggle="tab" href="#login">Login</a></li>
                                                <li><a data-toggle="tab" href="#register">Register</a></li>
                                            </ul>
                                        </div>
                                        <div class="tab-content">
                                            <div id="login" class="tab-pane fade show active">
                                                <div class="login-register-form">
                                                    <form action="#" method="post">
                                                        <p>Login to Jotopa with your registered account</p>
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="single-input">
                                                                    <input type="text" placeholder="Username or Email" name="name">
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="single-input">
                                                                    <input type="password" placeholder="Password" name="password">
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="checkbox-input">
                                                                    <input type="checkbox" name="login-form-remember" id="login-form-remember">
                                                                    <label for="login-form-remember">Remember me</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 mb-25"><button class="ht-btn">Login</button></div>
                                                        </div>
                                                    </form>
                                                    <div class="divider">
                                                        <span class="line"></span>
                                                        <span class="circle">or login with</span>
                                                    </div>
                                                    <div class="social-login">
                                                        <ul class="social-icon">
                                                            <li><a class="facebook" href="#"><i class="fab fa-facebook"></i></a></li>
                                                            <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                                                            <li><a class="linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
                                                            <li><a class="google" href="#"><i class="fab fa-google-plus"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="register" class="tab-pane fade">
                                                <div class="login-register-form">
                                                    <form action="#" method="post">
                                                        <p>Create Your account</p>
                                                        <div class="row row-5">
                                                            <div class="col-12">
                                                                <div class="single-input">
                                                                    <input type="text" placeholder="Your Username" name="name">
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="single-input">
                                                                    <input type="email" placeholder="Your Email Address" name="emain">
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <div class="single-input">
                                                                    <input type="password" placeholder="Password" name="password">
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <div class="single-input">
                                                                    <input type="password" placeholder="Confirm Password" name="conPassword">
                                                                </div>
                                                            </div>
                                                            <div class="col-6">
                                                                <div class="checkbox-input">
                                                                    <input type="checkbox" name="login-form-candidate" id="login-form-candidate">
                                                                    <label for="login-form-candidate">I am a candidate</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-6">
                                                                <div class="checkbox-input">
                                                                    <input type="checkbox" name="login-form-employer" id="login-form-employer">
                                                                    <label for="login-form-employer">I am a employer</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="register-account">
                                                                    <input id="register-terms-conditions" type="checkbox" class="checkbox" checked="" required="">
                                                                    <label for="register-terms-conditions">I read and agree to the <a href="#">Terms &amp; Conditions</a> and <a href="#">Privacy Policy</a></label>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 mb-25"><button class="ht-btn">Register</button></div>
                                                        </div>
                                                    </form>
                                                    <div class="divider">
                                                        <span class="line"></span>
                                                        <span class="circle">or login with</span>
                                                    </div>
                                                    <div class="social-login">
                                                        <ul class="social-icon">
                                                            <li><a class="facebook" href="#"><i class="fab fa-facebook"></i></a></li>
                                                            <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                                                            <li><a class="linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
                                                            <li><a class="google" href="#"><i class="fab fa-google-plus"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div class="login-instruction">
                                        <div class="login-instruction-content">
                                            <h3 class="title">Why Login To Us</h3>
                                            <p>It’s important for you to have an account and login in order to have full access at Jotopa. We need to know your account details in order to allow work together</p>
                                            <ul class="list-reasons">
                                                <li class="reason">Be alerted to the latest jobs</li>
                                                <li class="reason">Apply for jobs with a single click</li>
                                                <li class="reason">Showcase your CV to thousands of employers</li>
                                                <li class="reason">Keep a record of all your applications</li>
                                            </ul>
                                            <span class="sale-text theme-color border-color">Login today &amp; Get 15% Off Coupon for the first planning purchase</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- Modal Area End -->


    {% endblock %}
