{% extends 'base.html' %}
{% load static %}
{% block body_block %}



        <!-- Breadcrumb Section Start -->
        <div class="breadcrumb-section section bg_color--5 pt-90 pt-sm-50 pt-xs-40 pb-60 pb-sm-50 pb-xs-40">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="page-breadcrumb-content">
                            <ul class="page-breadcrumb">
                                <li><a href="index.html"><b>Home</b></a></li>
                                <li>Jobs Listing</li>
                            </ul>
                            <h1>Jobs Listing</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Breadcrumb Section Start -->

        <!-- Job Listing Section Start -->
        <div class="job-listing-section section bg_color--5 pb-120 pb-lg-100 pb-md-80 pb-sm-60 pb-xs-50">
            <div class="container">
                <div class="row no-gutters1">

                    <div class="col-lg-4 order-lg-1 order-2 pr-55 pr-md-15 pr-sm-15 pr-xs-15">
                        <div class="sidebar-wrapper-two mt-sm-40 mt-xs-40">
                            <div class="common-sidebar-widget sidebar-two">
                                <h2 class="sidebar-title">Find a job</h2>
                                <div class="sidebar-search-form-two">
                                    <form method="POST"> {% csrf_token %}
                                        <div class="input-group">
                                            <input type="text" name="keyword" placeholder="Search..." value="{{ keyword }}">
                                            <i class="lnr lnr-magnifier"></i>
                                        </div>
                                        <button type="submit" class="ht-btn theme-btn theme-btn-two w-100">Search</button>
                                    </form>
                                </div>
                            </div>
                            <div class="common-sidebar-widget sidebar-two">
                                <h2 class="sidebar-title">Experience</h2>
                                <ul class="sidebar-cbx-list">
                                    <li>
                                        <div class="filter-name-item">
                                            <input type="checkbox" name="expericence" id="experience-cbx">
                                            <label for="experience-cbx">> 5 years (1)</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="filter-name-item">
                                            <input type="checkbox" name="expericence" id="experience-cbx-two">
                                            <label for="experience-cbx-two">3-5 years (2)</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="filter-name-item">
                                            <input type="checkbox" name="expericence" id="experience-cbx-three">
                                            <label for="experience-cbx-three">1-3 years (10)</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="filter-name-item">
                                            <input type="checkbox" name="expericence" id="experience-cbx-four">
                                            <label for="experience-cbx-four">&lt; 1 year (5)</label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="common-sidebar-widget sidebar-two">
                                <h2 class="sidebar-title">Location</h2>
                                <div class="sidebar-location-form">
                                    <form action="#">
                                        <div class="input-group">
                                            <input type="text" name="search" placeholder="Enter location">
                                            <i class="far fa-dot-circle"></i>
                                        </div>
                                    </form>
                                </div>
                                <!-- <div class="sidebar-location-range mt-10">
                                    <div class="location-range">
                                        <label for="amount">Radius:</label>
                                        <input type="text" id="amount" readonly>
                                    </div>
                                    <div id="slider-range-min"></div>
                                </div> -->
                            </div>
                            <div class="common-sidebar-widget sidebar-two">
                                <h2 class="sidebar-title">Salaries</h2>
                                <div class="sidebar-salary">
                                    <div id="salary-range" class="mb-20"></div>
                                    <div class="salary-range-group">
                                        <label for="salary-amount-txt">Salary range:</label>
                                        <input type="text" id="salary-amount-txt" class="salary-amount" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="common-sidebar-widget sidebar-two">
                                <h2 class="sidebar-title">Type</h2>
                                <ul class="sidebar-cbx-list">
                                    <li>
                                        <div class="filter-name-item">
                                            <input type="checkbox" name="expericence" id="type-cbx">
                                            <label for="type-cbx">Contract (0)</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="filter-name-item">
                                            <input type="checkbox" name="expericence" id="type-cbx-two">
                                            <label for="type-cbx-two"> Freelancer (3)</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="filter-name-item">
                                            <input type="checkbox" name="expericence" id="type-cbx-three">
                                            <label for="type-cbx-three">Full Time (13)</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="filter-name-item">
                                            <input type="checkbox" name="expericence" id="type-cbx-four">
                                            <label for="type-cbx-four">Internship (1)</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="filter-name-item">
                                            <input type="checkbox" name="expericence" id="type-cbx-five">
                                            <label for="type-cbx-five">Part Time (2)</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="filter-name-item">
                                            <input type="checkbox" name="expericence" id="type-cbx-six">
                                            <label for="type-cbx-six">Remote (2)</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="filter-name-item">
                                            <input type="checkbox" name="expericence" id="type-cbx-seven">
                                            <label for="type-cbx-seven">Temporary (2)</label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="common-sidebar-widget sidebar-two">
                                <h2 class="sidebar-title">Level</h2>
                                <ul class="sidebar-cbx-list">
                                    <li>
                                        <div class="filter-name-item">
                                            <input type="checkbox" name="expericence" id="level-cbx">
                                            <label for="level-cbx">Junior (1)</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="filter-name-item">
                                            <input type="checkbox" name="expericence" id="level-cbx-two">
                                            <label for="level-cbx-two"> Manager (6)</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="filter-name-item">
                                            <input type="checkbox" name="expericence" id="level-cbx-three">
                                            <label for="level-cbx-three">Professional (3)</label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="filter-name-item">
                                            <input type="checkbox" name="expericence" id="level-cbx-four">
                                            <label for="level-cbx-four">Senior (3)</label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="common-sidebar-widget sidebar-two">
                                <h2 class="sidebar-title">Skills</h2>
                                <ul class="sidebar-tag">
                                    <li><a href="#">Account Manager</a></li>
                                    <li><a href="#">Administrative</a></li>
                                    <li><a href="#">Android</a></li>
                                    <li><a href="#">Angular</a></li>
                                    <li><a href="#">app</a></li>
                                    <li><a href="#">ASP.NET</a></li>
                                    <li><a href="#">Automotive</a></li>
                                    <li><a href="#">Banner</a></li>
                                </ul>
                            </div>
                            <div class="common-sidebar-widget sidebar-two">
                                <h2 class="sidebar-title">Company Spotlight</h2>
                                <div class="sidebar-emp-slider row">
                                    <div class="col-lg-4 d-flex flex-column">
                                        <!-- Single Employer Item Start -->
                                        <div class="single-employer-item">
                                            <div class="image-featured">
                                                <img src="https://demo.hasthemes.com/jetapo-preview/jetapo/assets/images/employer/cover-image-employer-2.jpg" alt="">
                                            </div>
                                            <div class="item-content">
                                                <div class="avatar">
                                                    <img src="https://demo.hasthemes.com/jetapo-preview/jetapo/assets/images/companies_logo/logo-100/logo2.jpg" alt="">
                                                </div>
                                                <h4 class="title"><a href="#">Digital Asset</a></h4>
                                                <div class="meta">
                                                    <div class="star">
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                    </div>
                                                    <span class="location"><i class="lnr lnr-map-marker"></i>Beijing, China </span>
                                                    <span class="count-job theme-color">1 Jobs </span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Single Employer Item End -->
                                    </div>

                                    <div class="col-lg-4 d-flex flex-column">
                                        <!-- Single Employer Item Start -->
                                        <div class="single-employer-item">
                                            <div class="image-featured">
                                                <img src="https://demo.hasthemes.com/jetapo-preview/jetapo/assets/images/employer/cover-image-employer-3.jpg" alt="">
                                            </div>
                                            <div class="item-content">
                                                <div class="avatar">
                                                    <img src="https://demo.hasthemes.com/jetapo-preview/jetapo/assets/images/companies_logo/logo-100/logo3.jpg" alt="">
                                                </div>
                                                <h4 class="title"><a href="#">Inwave Studio </a></h4>
                                                <div class="meta">
                                                    <div class="star">
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                    </div>
                                                    <span class="location"><i class="lnr lnr-map-marker"></i>Chicago, IL, USA </span>
                                                    <span class="count-job theme-color">2 Jobs </span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Single Employer Item End -->
                                    </div>

                                    <div class="col-lg-4 d-flex flex-column">
                                        <!-- Single Employer Item Start -->
                                        <div class="single-employer-item">
                                            <div class="image-featured">
                                                <img src="https://demo.hasthemes.com/jetapo-preview/jetapo/assets/images/employer/cover-image-employer-4.jpg" alt="">
                                            </div>
                                            <div class="item-content">
                                                <div class="avatar">
                                                    <img src="https://demo.hasthemes.com/jetapo-preview/jetapo/assets/images/companies_logo/logo-100/logo4.jpg" alt="">
                                                </div>
                                                <h4 class="title"><a href="#">Vsmarttech </a></h4>
                                                <div class="meta">
                                                    <div class="star">
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                    </div>
                                                    <span class="location"><i class="lnr lnr-map-marker"></i>London Euston, London, UK </span>
                                                    <span class="count-job theme-color">1 Jobs </span>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Single Employer Item End -->
                                    </div>
                                </div>
                            </div>
                            <div class="common-sidebar-widget sidebar-two">
                                <div class="sidbar-image">
                                    <a href="#">
                                        <img src="https://demo.hasthemes.com/jetapo-preview/jetapo/assets/images/banner/ads.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-8 order-lg-2 order-1">
                        <div class="filter-form">
                            <div class="result-sorting">
                                <div class="total-result">
                                    <span class="total">({{ jobs.count }})</span>
                                    Jobs &amp; Vacancies
                                </div>
                                <div class="job-alert-form">
                                    <span class="btn-open-form">
                                    <i class="lnr lnr-envelope"></i>
                                    Email me jobs like these
                                </span>
                                    <div class="job-alert-form-box">
                                        <h3 class="title"> Email me jobs like these</h3>
                                        <div class="btn-close-form"><i class="lnr lnr-cross-circle"></i></div>
                                        <form action="#">
                                            <div class="newsletter">
                                                <div class="row">
                                                    <div class="col-md-5">
                                                        <input type="text" name="alert-name" placeholder="Job alert name..." class="alert-name">
                                                    </div>
                                                    <div class="col-md-5">
                                                        <input type="email" class="alert-email" placeholder="example@email.com" name="alert-email">
                                                    </div>
                                                    <div class="col-md-2">
                                                        <button class="ht-btn">Submit</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="form-left">
                                    <div class="sort-by">
                                        <form action="#">
                                            <label class="text-sortby">Sort by:</label>
                                            <select class="nice-select">
                                                <option value="1">Title</option>
                                                <option value="2">Date</option>
                                                <option value="3">Salary</option>
                                            </select>
                                        </form>
                                    </div>
                                    <div class="layout-switcher">
                                        <ul class="nav">
                                            <li><a class="active show" data-toggle="tab" href="#list"><i class="fa fa-list"></i></a></li>
                                            <li><a data-toggle="tab" href="#grid"><i class="fa fa-th"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-content">
                            <div id="list" class="tab-pane fade show active">
                                <div class="row">

                                  {% for job in jobs %}

                                    <div id="{{ job.id }}" class="col-lg-12 mb-20">
                                        <!-- Single Job Start  -->
                                        <div class="single-job style-two">
                                            <div class="info-top">
                                                <div class="job-image">
                                                    <a href="{{ job.id }}">
                                                      {% if job.company.company_logo %}
                                                        <a href="{% url 'recruiter:employer_detail' job.company.id %}"><img src="{{ job.company.imageURL }}"></a>
                                                      {% else %}
                                                      <a href="{% url 'recruiter:employer_detail' job.company.id %}"><img src="{% static 'assets/images/Toolylogo-LOGO-1A-final.png' %}" alt="logo"></a>

                                                      {% endif %}
                                                    </a>
                                                </div>
                                                <div class="job-info">
                                                    <div class="job-info-inner">
                                                        <div class="job-info-top">
                                                            <div class="saveJob for-listing">
                                                                <span class="featured-label">featured</span>
                                                                <a href="#" class="job-type-label ml-20 mr-20">{{ job.job_type }}</a>
                                                                <a class="save-job" href="#quick-view-modal-container" data-toggle="modal">
                                                                    <i class="far fa-heart"></i>
                                                                </a>
                                                            </div>
                                                            <div class="title-name">
                                                                <h3 class="job-title">
                                                                    <a href="{{ job.id }}">{{ job.job_title }}</a>
                                                                </h3>
                                                                <div class="employer-name">
                                                                    <a href="{% url 'recruiter:employer_detail' job.company.id %}">{{ job.company.company_name }}</a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="job-meta-two">
                                                            <div class="field-salary_from">
                                                                ${{ job.salary }}
                                                            </div>
                                                            <div class="field-datetime"><i class="lnr lnr-clock"></i>{{ job.posted_on }}</div>
                                                            <div class="field-map"><i class="lnr lnr-map-marker"></i>{{ job.company.address }}</div>
                                                        </div>
                                                        <div class="job-skill-tag">
                                                          {% for skill in job.get_skills %}
                                                            <a href="#">{{ skill }}</a>
                                                          {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Single Job End -->
                                    </div>

                                    {% endfor %}


                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <ul class="page-pagination">
                                          {% if jobs.has_previous %}
                                            <li><a href="{% url 'applicant:jobs_list' %}?page={{ jobs.previous_page_number }}"><i class="fa fa-angle-left"></i></a></li>
                                            {% endif %}

                                            {% for pg in page_range %}
                                             {% if jobs.number == pg %}
                                                 <li><a href="?page={{pg}}" style="background-color: #008080; color: black" class="btn">{{pg}}</a></li>
                                             {% else %}
                                                 <li><a href="?page={{pg}}" class="btn">{{pg}}</a></li>
                                             {% endif %}
                                            {% endfor %}

                                            {% if jobs.has_next %}
                                            <li><a href="{% url 'applicant:jobs_list' %}?page={{ jobs.next_page_number }}"><i class="fa fa-angle-right"></i></a></li>
                                            {% endif %}

                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div id="grid" class="tab-pane fade">

                                <div class="row">
                                    {% for job in jobs %}
                                    <div class="col-md-6 mb-20">
                                        <!-- Single Job Start  -->

                                        <div class="single-job-grid-two">
                                            <div class="saveJob-grid">
                                                <a class="job-type-label remote" href="#">{{ job.job_type }}</a>
                                                <a class="save-job" href="#quick-view-modal-container" data-toggle="modal">
                                                    <i class="far fa-heart"></i>Save </a>
                                            </div>
                                            <div class="job-image">
                                                <a href="job-details.html">
                                                  {% if job.company.company_logo %}
                                                      <img src="{{ job.company.imageURL }}">
                                                  {% else %}
                                                    <img src="{% static 'assets/images/Toolylogo-LOGO-1A-final.png' %}" alt="logo">

                                                  {% endif %}
                                                </a>
                                                <span class="featured-label for-grid">featured</span>
                                            </div>
                                            <div class="job-info">
                                                <div class="job-info-top">
                                                    <div class="title-name">
                                                        <h3 class="job-title">
                                                            <a href="{{ job.id }}">{{ job.job_title }}</a>
                                                        </h3>
                                                        <div class="employer-name">
                                                            <a href="employer-details.html">{{ job.company.company_name }}</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="job-meta-two">
                                                    <div class="field-salary_from">
                                                        <i class="gj-icon gj-icon-money"></i>
                                                        ${{ job.salary }}
                                                    </div>
                                                    <div class="field-datetime"><i class="lnr lnr-clock"></i>{{ job.posted_on }}</div>
                                                    <div class="field-map"><i class="lnr lnr-map-marker"></i>{{ job.city }}</div>
                                                </div>
                                                <div class="field-descriptions">
                                                    <p>International collaborative, high-energy environmentCompetitive salary and great benefits, English training provided About Our Client Our…</p>
                                                </div>
                                                <div class="job-skill-tag">
                                                  {% for skill in job.get_skills %}
                                                    <a href="#">Android</a>
                                                  {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Single Job End -->
                                    </div>
                                    {% endfor %}


                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <ul class="page-pagination">
                                          {% if jobs.has_previous %}
                                            <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
                                            {% endif %}
                                            <!-- <li class="active"><a href="#">1</a></li>
                                            <li><a href="#">2</a></li>
                                            <li><a href="#">3</a></li> -->
                                            {% if jobs.has_next %}
                                            <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <!-- Job Listing Section End -->


        <!-- Modal Area Strat -->
        <div class="modal fade quick-view-modal-container" id="quick-view-modal-container" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="col-xl-12 col-lg-12">
                            <div class="row no-gutters">

                                <div class="col-lg-4">
                                    <div class="login-register-form-area">
                                        <div class="login-tab-menu">
                                            <ul class="nav">
                                                <li><a class="active show" data-toggle="tab" href="#login">Login</a></li>
                                                <li><a data-toggle="tab" href="#register">Register</a></li>
                                            </ul>
                                        </div>
                                        <div class="tab-content">
                                            <div id="login" class="tab-pane fade show active">
                                                <div class="login-register-form">
                                                    <form action="#" method="post">
                                                        <p>Login to Tooly with your registered account</p>
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="single-input">
                                                                    <input type="text" placeholder="Username or Email" name="name">
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="single-input">
                                                                    <input type="password" placeholder="Password" name="password">
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="checkbox-input">
                                                                    <input type="checkbox" name="login-form-remember" id="login-form-remember">
                                                                    <label for="login-form-remember">Remember me</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 mb-25"><button class="ht-btn">Login</button></div>
                                                        </div>
                                                    </form>
                                                    <div class="divider">
                                                        <span class="line"></span>
                                                        <span class="circle">or login with</span>
                                                    </div>
                                                    <div class="social-login">
                                                        <ul class="social-icon">
                                                            <li><a class="facebook" href="#"><i class="fab fa-facebook"></i></a></li>
                                                            <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                                                            <li><a class="linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
                                                            <li><a class="google" href="#"><i class="fab fa-google-plus"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div id="register" class="tab-pane fade">
                                                <div class="login-register-form">
                                                    <form action="#" method="post">
                                                        <p>Create Your account</p>
                                                        <div class="row row-5">
                                                            <div class="col-12">
                                                                <div class="single-input">
                                                                    <input type="text" placeholder="Your Username" name="name">
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="single-input">
                                                                    <input type="email" placeholder="Your Email Address" name="emain">
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <div class="single-input">
                                                                    <input type="password" placeholder="Password" name="password">
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <div class="single-input">
                                                                    <input type="password" placeholder="Confirm Password" name="conPassword">
                                                                </div>
                                                            </div>
                                                            <div class="col-6">
                                                                <div class="checkbox-input">
                                                                    <input type="checkbox" name="login-form-candidate" id="login-form-candidate">
                                                                    <label for="login-form-candidate">I am a candidate</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-6">
                                                                <div class="checkbox-input">
                                                                    <input type="checkbox" name="login-form-employer" id="login-form-employer">
                                                                    <label for="login-form-employer">I am a employer</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="register-account">
                                                                    <input id="register-terms-conditions" type="checkbox" class="checkbox" checked="" required="">
                                                                    <label for="register-terms-conditions">I read and agree to the <a href="#">Terms &amp; Conditions</a> and <a href="#">Privacy Policy</a></label>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 mb-25"><button class="ht-btn">Register</button></div>
                                                        </div>
                                                    </form>
                                                    <div class="divider">
                                                        <span class="line"></span>
                                                        <span class="circle">or login with</span>
                                                    </div>
                                                    <div class="social-login">
                                                        <ul class="social-icon">
                                                            <li><a class="facebook" href="#"><i class="fab fa-facebook"></i></a></li>
                                                            <li><a class="twitter" href="#"><i class="fab fa-twitter"></i></a></li>
                                                            <li><a class="linkedin" href="#"><i class="fab fa-linkedin"></i></a></li>
                                                            <li><a class="google" href="#"><i class="fab fa-google-plus"></i></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div class="login-instruction">
                                        <div class="login-instruction-content">
                                            <h3 class="title">Why Login To Us</h3>
                                            <p>It’s important for you to have an account and login in order to have full access at Tooly. We need to know your account details in order to allow work together</p>
                                            <ul class="list-reasons">
                                                <li class="reason">Be alerted to the latest jobs</li>
                                                <li class="reason">Apply for jobs with a single click</li>
                                                <li class="reason">Showcase your CV to thousands of employers</li>
                                                <li class="reason">Keep a record of all your applications</li>
                                            </ul>
                                            <span class="sale-text theme-color border-color">Login today &amp; Get 15% Off Coupon for the first planning purchase</span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- Modal Area End -->

        <script type="text/javascript" src="{% static 'assets/js/filters.js' %}"></script>

{% endblock %}
