{% extends 'base.html' %}
{% load static %}
{% block body_block %}
        <!-- Dashboard Content Section Start -->
        <div class="dashboard-content-section section bg_color--5">
            <div class="container-fluid p-0">
                <div class="row no-gutters">
                    <div class="col-xl-2 col-lg-3">
                        <div class="dashboard-sidebar">
                            <div class="dashboard-menu">
                                <ul class="nav">
                                    <li>
                                        <h3>Main</h3>
                                        <ul>
                                            <li><a href="dashboard.html"><i class="lnr lnr-chart-bars"></i> Dashboard </a></li>
                                            <li><a href="message.html"><i class="lnr lnr-bubble"></i> Messages </a></li>
                                            <li><a class="active" href="job-alerts.html"><i class="lnr lnr-envelope"></i> Job Alerts </a></li>
                                            <li><a href="reviews.html"><i class="lnr lnr-star"></i> Reviews </a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <h3>Jobs</h3>
                                        <ul>
                                            <li><a href="applications.html"><i class="lnr lnr-briefcase"></i> Applications </a></li>
                                            <li><a href="bookmarks.html"><i class="lnr lnr-bookmark"></i> Bookmarks </a></li>
                                            <li><a href="follows.html"><i class="lnr lnr-pointer-right"></i> Follows </a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <h3>Account</h3>
                                        <ul>
                                            <li><a href="profile.html"><i class="lnr lnr-user"></i> Profile </a></li>
                                            <li><a href="orders.html"><i class="lnr lnr-cart"></i> Orders </a></li>
                                            <li><a href="login-register.html"><i class="lnr lnr-exit-up"></i> Logout </a></li>
                                        </ul>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-10 col-lg-9">

                        <div class="dashboard-main-inner">
                            <div class="row">
                                <div class="col-12">
                                    <div class="page-breadcrumb-content mb-40">
                                        <h1>Job Alerts</h1>
                                    </div>
                                </div>
                            </div>
                            <div class="dashboard-overview">
                                <div class="row">
                                    <div class="col-xl-12 col-12">
                                        <div class="job-applications mb-50">
                                            <div class="job-applications-main-block">
                                                <div class="job-applications-table">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>Alert Title</th>
                                                                <th class="width-35">Query</th>
                                                                <th>Created</th>
                                                                <th>Update</th>
                                                                <th class="text-right">Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr class="job-application-item">
                                                                <td class="application-job">
                                                                    <h3><a href="#">CNACA</a></h3>
                                                                </td>

                                                                <td class="application-query">
                                                                    <a href="#">https://jetapo.inwavethemes.com/jobs/?location=Alabama&radius=45&order=name </a>
                                                                </td>

                                                                <td class="application-created">
                                                                    <span> May 19, 2020 </span>
                                                                </td>

                                                                <td class="application-update">
                                                                    <span> Weekly </span>
                                                                </td>

                                                                <td class="delete-application text-right">
                                                                    <a href="#"><i class="lnr lnr-trash"></i></a>
                                                                </td>
                                                            </tr>
                                                            <tr class="job-application-item">
                                                                <td class="application-job">
                                                                    <h3><a href="#">Account manager</a></h3>
                                                                </td>

                                                                <td class="application-query">
                                                                    <a href="#">https://jetapo.inwavethemes.com/jobs/?radius=45&skill=account-manager&order=name  </a>
                                                                </td>

                                                                <td class="application-created">
                                                                    <span> Apr 24, 2020 </span>
                                                                </td>

                                                                <td class="application-update">
                                                                    <span> Weekly </span>
                                                                </td>

                                                                <td class="delete-application text-right">
                                                                    <a href="#"><i class="lnr lnr-trash"></i></a>
                                                                </td>
                                                            </tr>
                                                            <tr class="job-application-item">
                                                                <td class="application-job">
                                                                    <h3><a href="#">HTML5</a></h3>
                                                                </td>

                                                                <td class="application-query">
                                                                    <a href="#">https://jetapo.inwavethemes.com/jobs/ </a>
                                                                </td>

                                                                <td class="application-created">
                                                                    <span> May 19, 2020 </span>
                                                                </td>

                                                                <td class="application-update">
                                                                    <span> Weekly </span>
                                                                </td>

                                                                <td class="delete-application text-right">
                                                                    <a href="#"><i class="lnr lnr-trash"></i></a>
                                                                </td>
                                                            </tr>
                                                            <tr class="job-application-item">
                                                                <td class="application-job">
                                                                    <h3><a href="#">Adoroi</a></h3>
                                                                </td>

                                                                <td class="application-query">
                                                                    <a href="#">https://jetapo.inwavethemes.com/jobs/ </a>
                                                                </td>

                                                                <td class="application-created">
                                                                    <span> Oct 25, 2019  </span>
                                                                </td>

                                                                <td class="application-update">
                                                                    <span> Weekly </span>
                                                                </td>

                                                                <td class="delete-application text-right">
                                                                    <a href="#"><i class="lnr lnr-trash"></i></a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Dashboard Content Section End -->

{% endblock %}
