{% extends 'base.html' %}
{% load static %}
{% block body_block %}


<style media="screen">
  .nice-select > .list{
    height: 200px;
    overflow-y: inherit;
  }

</style>

        <!-- Dashboard Content Section Start -->
        <div class="dashboard-content-section section bg_color--5">
            <div class="container-fluid p-0">
                <div class="row no-gutters">

                    <div class="col-xl-10 col-lg-9">

                        <div class="dashboard-main-inner">
                            <div class="row">
                                <div class="col-12">
                                    <div class="page-breadcrumb-content mb-40">
                                        <h1>Register your Company</h1>
                                    </div>
                                </div>
                            </div>
                            <div class="dashboard-overview">
                                <div class="row">
                                    <div class="col-xl-12 col-12">
                                        <div class="profile-applications mb-50">

                                            <div class="profile-applications-main-block">
                                                <div class="profile-applications-form">
                                                    <form method="POST"> {% csrf_token %}
                                                        <div class="row mb-30">
                                                            <div class="col-lg-2">
                                                                <div class="profile-avatar mb-30">
                                                                    <label class="d-block"><span>Company Logo</span></label>
                                                                    <img name="profile_pic" src="https://demo.hasthemes.com/jetapo-preview/jetapo/assets/images/author/author1.jpg" alt="">
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-10">
                                                                <div class="row">

                                                                  <div class="single-input mb-25">
                                                                      <label for="first-name">Job Title<span>*</span></label>
                                                                      <input type="text" id="first-name" name="company_name" placeholder="Company Name"  value="">
                                                                  </div>
                                                                        <!-- Single Input Start -->
                                                                        {% for field in form %}
                                                                            <div class="single-input mb-25">
                                                                                {{ field.errors }}

                                                                                  {{ field.label_tag }}
                                                                                 {{ field }}

                                                                            </div>
                                                                        {% endfor %}



                                                                        <!-- Single Input Start -->
                                                                        <div class="single-input mb-25">
                                                                            <label for="confirm-password">Job Description</label>
                                                                            <input type="text" id="desc" name="description" placeholder="Mention the required job details" value="">
                                                                        </div>
                                                                        <!-- Single Input End -->
                                                                        
                                                                        <!-- Single Input Start -->
                                                                        <div class="single-input mb-25">
                                                                            <label for="type">Job Type</label>
                                                                            <select class="nice-select wide" name="job_type" id="type">
                                                                                <option value="select">select</option>
                                                                                <option value="part-time">Part Time</option>
                                                                                <option value="full-time">Full Time</option>
                                                                                <option value="remote">Remote</option>
                                                                            </select>
                                                                        </div>
                                                                        <!-- Single Input End -->
                                                                        <!-- Single Input Start -->
                                                                        <div class="single-input mb-25" >
                                                                            <label for="type">Job Category</label>
                                                                            <br>
                                                                            <select id="mselect" class="" tabindex="8" multiple >
                                                                                <option value="1">1</option>
                                                                                <option value="2">2</option>
                                                                                <option value="3">3</option>
                                                                                <option value="4">4</option>
                                                                                <option value="5">5</option>
                                                                            </select>
                                                                        </div>
                                                                        <!-- Single Input End -->

                                                                        <div class="single-input mb-25">
                                                                            <label for="type">Education level</label>
                                                                            <select class="nice-select wide" name="level" id="level" >
                                                                                <option value="hs">High School</option>
                                                                                <option value="grad">Graduate</option>
                                                                                <option value="postg">Post Graduate</option>
                                                                            
                                                                            </select>
                                                                        </div>
                                                                        
                                                                        <div class="single-input mb-25">
                                                                            <label for="date">Date</label>
                                                                            <input type="datetime-local"id="date" name="date"  value="">
                                                                        </div>
                                                                        
                                                                        <div class="single-input mb-25">
                                                                            <label for="first-name">Vaccancies</label>
                                                                            <input type="number" id="vacancy" name="vacant"  value="">
                                                                        </div>

                                                                        <div class="single-input mb-25">
                                                                            <label for="applicants">No of Applicants</label>
                                                                            <input type="number" id="applicants" name="vacant" value="">
                                                                        </div>

                                                                        <div class="single-input mb-25">
                                                                            <label for="salary">Salary</label>
                                                                            <input type="number" id="salary" name="vacant" value="">
                                                                        </div>

                                                                        <div class="single-input mb-25" >
                                                                            <label for="type">Skills</label>
                                                                            <br>
                                                                            <select id="msselect"  tabindex="8" multiple >
                                                                                <option value="1">abc</option>
                                                                                <option value="2">def</option>
                                                                                <option value="3">ghi</option>
                                                                                <option value="4">jkl</option>
                                                                                <option value="5">mno</option>
                                                                            </select>
                                                                        </div>

                                                                        <div class="single-input mb-25">
                                                                            <label for="desc">About Job<span>*</span></label>
                                                                            <textarea type="text" name="description" placeholder="Description" value=""></textarea>
                                                                        </div>


                                                                        

                                                                        <!-- Single Input Start -->
                                                                        <div class="single-input mb-25" >
                                                                            <label for="type">Keywords</label>
                                                                            <br>
                                                                            <select id="mkselect"  tabindex="8" multiple >
                                                                                <option value="1">abc</option>
                                                                                <option value="2">def</option>
                                                                                <option value="3">ghi</option>
                                                                                <option value="4">jkl</option>
                                                                                <option value="5">mno</option>
                                                                            </select>
                                                                        </div>
                                                                        <!-- Single Input End -->
                                                                        <div class="single-input mb-25">
                                                                            <label for="experience">Experience</label>
                                                                            <input type="number" id="exp" name="vacant"  value="">
                                                                        </div>


                                                                        





                                                                        <!-- Single Input Start -->
                                                                        <!-- <div class="single-input mb-25">
                                                                            <label for="new-password">New Password</label>
                                                                            <input type="password" id="new-password" name="new-password" placeholder="" value="">
                                                                        </div> -->
                                                                        <!-- Single Input End -->

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-12">
                                                                <div class="profile-action-btn d-flex flex-wrap align-content-center justify-content-between">
                                                                    <button type="submit" class="ht-btn theme-btn theme-btn-two mb-xs-20">Register</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Dashboard Content Section End -->
        

{% endblock %}
